.CX3A {
    font-size: 35px;
    min-width: 300px;
    max-width: 600px;
    text-align: left;
    color: lightgray;
  
    --saturdayColor: dodgerblue;
    --sundayColor: crimson;
    --todayColor: rgb(0, 185, 25);
    --weekend_1_color: dodgerblue;
    --weekend_2_color: crimson;
  }

.CX3A .event .time {
  font-size: 100%;
  vertical-align: text-bottom;
  min-width: fit-content;
}

.CX3 {
  --cellheaderheight: 30px;
  font-size: 35px;
}

.CX3 .cellHeader {
  height: 32px;
}

.CX3 .cell {
  border: 1px solid var(--celllinecolor);
  background-color: var(--cellbgcolor);
  position: relative;
  padding-bottom: 1em;
}

.room_name {
  font-size: 5vh;
}

.description {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.r {
  color:red;
  font-size: 5vh;
}

.g {
  color:green;
  font-size: 5vh;
}

.CX3 .week,
.CX3 .cell,
.CX3 .eventContainer {
  height: 75vh;
}

.CX3 .week {
  bottom: -1.5vh;
}

.CX3 .event.current {
  filter: saturate(2);
  color: #008B9C;
}

.CX3 .event {
  margin: 5px 2px;
  line-height: 1;
}

.CX3 .event.singleday .headline:not(.useSymbol)::before,
.CX3 .event.singleday .headline.useSymbol .symbol.noSymbol::before {
  content: unset;
  color: var(--calendarColor);
  display: inline-block;
  padding-right: 0px;
  font-size: 75%;
}

.CX3 .event .headline .timeBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: baseline;
}

.CX3 .event .headline {
  margin-top: auto;
}

.CX3 .event .headline .title {
  font-size: 75%;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.CX3 .today .cellDate {
  font-weight: bold;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 1px 8px;
  margin: 1px;
  line-height: 85%;
}

#CX3_POPOVER {
  max-width: 75%;
  min-width: 50%;
  height: fit-content;
  max-height: calc(max(fit-content, 80%) - 20px);
  background-color: white;
  border-radius: 10px;
  position: absolute;
  box-shadow: 5px 5px 20px 0 #000;
  font-size: 200%;
}

#CX3_POPOVER .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 200%;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: black;
}

#CX3_POPOVER .content .name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 200%;
  color: #095359;
}

#CX3_POPOVER .header[data-is-fullday="true"] {
  background-color: var(--calendarColor);
  color: #095359;
}

#CX3_POPOVER .header[data-is-fullday="false"] {
  background-color: var(--oppositeColor);
  color: #095359;
}

#CX3_POPOVER .content .value {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 200%;
  color: black;
  white-space: unset;
  overflow-wrap: break-word;
  hyphens: auto;
  text-wrap: balance;
  overflow-y: hidden;

  /* text-wrap: balance; */

  /* Expreimental for CSS Text Module Level 4 */
}