[submodule "modules/MMM-CalendarExt3"]
	path = modules/MMM-CalendarExt3
	url = https://github.com/MMRIZE/MMM-CalendarExt3
[submodule "modules/MMM-CalendarExt3Agenda"]
	path = modules/MMM-CalendarExt3Agenda
	url = https://github.com/MMRIZE/MMM-CalendarExt3Agenda
