<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div class="room_name">{{ title | safe }}</div>
<div class="description">{{ text | safe }}</div>